.box {
    margin-top: 66px;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    box-shadow: 4px 4px 20px rgb(0 0 0 / 40%);
    position: relative;
    background-color: #ecf0f1;
    border-radius: 10px;
    padding: 35px;
}
.box h2 {
    cursor: pointer;
}

img {
    width: 200px;
    box-shadow: -1px 0px 2px #b1b1b1;
    border: 1px solid transparent;
    margin: 2px;
    margin-top: 50px;
    cursor: pointer;
}

.vid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1px;
    max-width: 280px;
}

iframe {
    margin-top: 50px;
}

b {
    display: flex;
    position: absolute;
    top: 20px;
    font-size: 45px;
    cursor: pointer;
}

.book {
    display: inline-flex;
    flex-direction: column;
}

.children {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: baseline;
}